<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="utf-8">
    <title>НА МАТУРАТА - С УСПЕХ!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Зареждане...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0">На матурата - с успех!</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="index.html"  class="nav-item nav-link">Начало</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">11. клас</a>
                            <div class="dropdown-menu m-0">
                                <a href="pages/zhivotut-i-smurtta.html" class="dropdown-item" >Животът и смъртта</a>
                                <a href="pages/minaloto-i-pametta.html" class="dropdown-item">Миналото и паметта</a>
                                <a href="pages/obshtestvoto-i-vlastta.html" class="dropdown-item">Обществото и властта</a>
                                <a href="pages/rodnoto-i-chujdoto.html" class="dropdown-item">Родното и чуждото</a>
                                <a href="pages/prirodata.html" class="dropdown-item">Природата</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">12. клас</a>
                            <div class="dropdown-menu m-0">
                                <a href="pages/lubovta.html" class="dropdown-item">Любовта</a>
                                <a href="pages/vqrata-i-nadejdata.html" class="dropdown-item">Вярата и надеждата</a>
                                <a href="pages/trudut-i-tvorchestvoto.html" class="dropdown-item">Трудът и творчеството</a>
                                <a href="pages/izborut-i-razdvoenieto.html" class="dropdown-item">Изборът и раздвоението</a>
                            </div>

            </nav>

            <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated slideInDown">Информация</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
        
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <h4 class="text-center mb-5">
                        Информацията е съобразена с новата
                        учебна програма<br> по литература за 11. и 12. клас. 
                        Към всеки тематичен <br>раздел ще намерите видеа, изработени от учениците<br>
                        като продукти на проектно базирани задания и <br>приложение на иновативния модел
                        "обърната класна стая".<br> За развиването на социокултурните, комуникативните<br> и
                        езиковите компетентности - успехът е гарантиран! 😀    
                    </h4>      
                </div>
            </div>
        </div>
                
        <!-- Team End -->
        

        <!-- Footer Start -->
       <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container px-lg-5">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom">НА МАТУРАТА - С УСПЕХ!<br><br></a>
                            <p>Съдържанието на този сайт е продукт на проектно базирано обучение по български език и литература
                             и е собственост на учениците от 12. клас, СУ "Проф. д-р Асен Златаров",
                              преподавател по български език и литература: Красимира Хубинова; 
                            2021/2022 учебна година;
                            гр. Първомай</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>