{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {% if user.is_authenticated and user.id == event.student.id %}
        <div class="container-xxl bg-primary hero-header">
            <div class="container px-lg-5">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6 text-center text-lg-start" id="headtextbg">
                        <h1 class="text-white mb-4 animated slideInDown">Are you sure you want to delete "{{ event.event.name }}"? </h1>
                        <div id="formDesign">
                            <form method="POST"  {% url 'delete joined event' pk=event.pk %}>
                                {{ form.as_p }}
                                <input class="btn submit" style="background: white" type="submit" value="Delete event">
                                {% csrf_token %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-xxl bg-primary hero-header">
            <div class="container px-lg-5">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6 text-center text-lg-start" id="headtextbg">
                        <h1 class="text-white mb-4 animated slideInDown">You don`t have access to this page! </h1>
                        <p class="text-white pb-3 animated slideInDown">
                        <div id="formDesign">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}