{% extends 'base.html' %}
{% load static %}

{% block page_content %}

    <link href="{% static 'css/sign_up.css' %}" rel="stylesheet">

    <div class="container-xxl bg-primary hero-header">
        <div class="container px-lg-5">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6 text-center text-lg-start" id="headtextbg">
                    <div id="formDesign" style="color: white">
                        <div class="container p-5">
                            <h2 class="font-weight-bold mt-3" style="color: white" >Password Reset Confirm</h2>
                            <hr>
                            <p>Please enter your new password.</p>
                            <form method="post">
                            <strong>{{ form.as_p }}</strong>
                            <input class="btn submit" style="background: white" type="submit" value="Change Password">
                            {% csrf_token %}
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}